.menu{
  margin-bottom:15px;
  margin-top:20px;
}
#main_map{
  border:2px solid black;
  height:800px;
  width:800px;
}
#map_2d{
	height:800px;
	width:800px;
}
#heightmap{
	display: none;
}