.menu{
  margin-bottom:15px;
  margin-top:20px;
}
#main_map{
  border:2px solid black;
  height:1024px;
  width:1024px;
}
#map_2d{
	height:1024px;
	width:1024px;
 }
/*
#heightmap{
	display: none;
}
#heightmapImg{
	display:none;
} */